h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
.collection-item ul.browser-default {
  min-height: 135px;
  overflow: hidden;
}
.collection.with-header .collection-header {
  height: 110px;
  background-color: black;
  color: white;
}

/* Correctie witruimte header per les: witruimte onderaan vergroten */
/********************************************************************/
.collection-header h2 {
  margin-top: 7px;
}

/* Bij de laatste les hebben we meer ruimte nodig in de header */
.grid div:last-of-type .collection-header {
  min-height: 110px;
  height: auto;
}

/* Correctie grid: de float gebruikt door materialize werkt niet goed
   als niet alle items even hoog zijn */
/********************************************************************/
.grid {
  display: grid;
  column-gap: 15px;
}

@media screen and (min-width: 601px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 993px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Correctie icons: de float gebruikt door materialize werkt niet goed 
   als de tekst die voor de icons staat te breed wordt.  */
/********************************************************************/
.collection-item div {
  /* background-color: red; */
  display: flex;
}

.collection-item div > *:last-child {
  margin-left: auto;
}
